In [6]:
# -----------------------------------------------------------------
# Decision Tree Classifier
# Predict the income of an adult based on the census data
# -----------------------------------------------------------------

# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings

warnings.filterwarnings('ignore')

In [7]:
# Read dataset
df = pd.read_csv("decisiontreeAdultIncome.csv")
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [8]:
# Check for Null values
df.columns[df.isnull().any()]

Index([], dtype='object')

In [10]:
# Create Dummy variables

In [9]:
# Create X and Y Variables
X = df.drop('IncomeClass',axis=1)
y = df['IncomeClass']
X = pd.get_dummies(X)
X

,age,hours per week,wc_ Federal-gov,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,...,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Female,gender_ Male
0,38,40,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1,28,40,0,0,0,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,37,40,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
3,31,50,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,1,1,0
4,42,40,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,0,1
19783,22,40,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
19784,40,40,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,1,0,1
19785,58,40,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,1,0
19786,22,20,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1

In [11]:
# Split the X and Y dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_cv,y_train,y_cv=train_test_split(X,y,test_size=0.2)

In [12]:
# Import and train classifier
from sklearn import tree
dt=tree.DecisionTreeClassifier(criterion='entropy')
dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
# Test the model
pred_cv1=dt.predict(x_cv)
pred_cv1

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [14]:
# Evaluate the model
ac1=accuracy_score(y_cv,pred_cv1)
matrix1=confusion_matrix(y_cv,pred_cv1)
ac1

0.7905507832238504