### Yasin Guliyev

# Session 1 case study

### Import HR Data to Python.

### Step1.Import the necessary libraries.

In [1]:
import pandas as pd
import statistics as st

### Step 2. Call our Data as HR

In [2]:
data = pd.read_excel('HR Analytics.xlsx')

### Step 3. See the first 5 entries, then 12 entries.

In [3]:
data.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
data.head(12)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8

### Step 4. See the last 2, then 9 entries.

In [5]:
data.tail(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [7]:
data.tail(9)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

### Step 5. What is the number of observations in the dataset?

In [9]:
data.shape

(1470, 35)

In [10]:
1470*35

51450

### Step 6.Groupby age and return the mean of the remaining columns in each group.

In [16]:
data.groupby('Age').mean()

,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,,,,,,,,,,,,,,,,,,,,,
18,747.625000,6.125000,2.500000,1.0,1053.625000,2.750000,68.125000,2.875000,1.000000,3.250000,...,3.125000,80.0,0.000000,0.000000,2.500000,3.000000,0.000000,0.000000,0.000000,0.000000
19,548.444444,10.555556,2.111111,1.0,675.666667,2.444444,63.555556,2.444444,1.000000,2.555556,...,2.888889,80.0,0.000000,0.888889,3.000000,3.222222,0.777778,0.222222,0.111111,0.111111
20,819.454545,7.090909,2.636364,1.0,1021.000000,3.181818,61.909091,2.636364,1.000000,2.636364,...,2.363636,80.0,0.000000,1.545455,2.727273,2.909091,1.545455,1.000000,0.636364,1.181818
21,762.846154,9.076923,1.615385,1.0,951.538462,2.692308,67.307692,2.692308,1.000000,2.692308,...,2.692308,80.0,0.000000,1.923077,3.538462,2.769231,1.846154,1.230769,1.076923,1.076923
22,806.937500,8.437500,1.812500,1.0,869.250000,2.812500,69.812500,2.750000,1.125000,2.937500,...,2.250000,80.0,0.750000,2.687500,3.062500,2.750000,2.062500,1.312500,0.937500,1.312500
23,707.928571,9.142857,1.857143,1.0,1225.500000,2.857143,66.071429,3.214286,1.071429,2.428571,...,2.714286,80.0,0.785714,3.357143,2.642857,2.928571,2.642857,1.714286,0.500000,1.642857
24,863.115385,11.884615,2.115385,1.0,1011.384615,2.500000,62.615385,2.807692,1.269231,2.769231,...,2.769231,80.0,1.115385,4.153846,2.692308,2.769231,3.346154,1.884615,0.884615,1.692308
25,768.076923,8.769231,1.923077,1.0,1005.307692,2.538462,65.961538,2.846154,1.500000,2.692308,...,2.846154,80.0,0.769231,5.269231,3.038462,2.769231,3.846154,2.692308,0.884615,2.615385
26,844.769231,10.230769,2.641026,1.0,981.051282,2.384615,62.384615,2.564103,1.307692,2.769231,...,2.538462,80.0,0.717949,5.615385,2.897436,2.666667,4.692308,3.666667,1.641026,3.000000
27,907.333333,7.500000,2.666667,1.0,1001.958333,2.895833,64.916667,2.770833,1.479167,2.604167,...,2.770833,80.0,0.812500,5.812500,2.604167,2.645833,5.020833,3.520833,1.104167,3.437500
28,927.500000,8.875000,2.791667,1.0,1120.125000,2.666667,65.041667,2.541667,1.395833,2.645833,...,2.895833,80.0,0.708333,5.375000,2.958333,2.604167,4.375000,2.750000,0.979167,3.104167
29,779.308824,10.808824,2.573529,1.0,1100.867647,2.764706,65.411765,2.529412,1.573529,2.735294,...,2.544118,80.0,0.985294,7.147059,2.823529,2.720588,5.602941,3.750000,0.985294,3.779412
30,791.266667,9.850000,2.766667,1.0,866.766667,2.883333,65.366667,2.633333,1.700000,2.700000,...,2.533333,80.0,1.000000,8.183333,2.866667,2.683333,6.516667,4.116667,1.983333,4.250000
31,725.173913,9.260870,3.057971,1.0,1070.000000,2.608696,64.753623,2.739130,1.811594,2.797101,...,2.666667,80.0,0.768116,7.695652,2.710145,2.797101,5.681159,3.797101,2.202899,3.782609
32,766.262295,7.278689,3.049180,1.0,986.196721,2.868852,65.704918,2.770492,1.704918,2.803279,...,2.704918,80.0,0.704918,7.983607,2.754098,2.721311,6.131148,3.918033,1.868852,4.032787
33,739.672414,8.793103,3.086207,1.0,1009.120690,2.603448,63.379310,2.879310,1.793103,2.706897,...,2.568966,80.0,0.741379,8.706897,2.879310,2.844828,6.586207,4.844828,1.827586,4.120690
34,788.285714,8.909091,3.090909,1.0,1080.987013,2.792208,68.597403,2.701299,1.792208,2.792208,...,2.974026,80.0,0.779221,8.948052,2.779221,2.831169,7.064935,4.779221,2.493506,4.597403
35,825.320513,11.333333,3.217949,1.0,1055.551282,2.910256,65.474359,2.653846,1.897436,2.769231,...,2.756410,80.0,0.641026,8.846154,2.807692,2.807692,6.794872,4.615385,1.884615,4.153846
36,819.130435,8.246377,3.246377,1.0,1045.971014,2.478261,66.898551,2.753623,1.913043,2.695652,...,2.536232,80.0,0.840580,11.478261,2.739130,2.739130,7.405797,5.028986,2.318841,4.869565
37,827.720000,8.480000,3.000000,1.0,815.280000,2.640000,64.540000,2.820000,1.880000,2.800000,...,2.240000,80.0,0.980000,11.180000,2.640000,2.620000,6.380000,3.560000,2.060000,4.000000
38,776.155172,7.724138,2.965517,1.0,1058.724138,2.844828,66.086207,2.655172,1.879310,2.844828,...,2.706897,80.0,0.879310,11.224138,2.637931,2.879310,6.534483,4.362069,1.672414,4.344828
39,774.642857,9.333333,2.785714,1.0,1224.880952,2.785714,62.928571,2.785714,2.595238,2.761905,...,2.690476,80.0,0.880952,13.500000,2.857143,2.833333,9.761905,4.857143,3.904762,5.095238
40,841.719298,9.385965,2.964912,1.0,1142.508772,2.631579,70.228070,2.719298,2.403509,2.614035,...,2.859649,80.0,0.947368,13.245614,2.842105,2.771930,8.438596,4.789474,3.157895,4.912281
41,721.525000,8.050000,2.925000,1.0,983.650000,2.700000,67.600000,2.700000,2.450000,2.500000,...,2.375000,80.0,0.725000,13.800000,2.825000,2.725000,9.700000,5.650000,2.700000,5.275000
42,713.391304,10.782609,2.913043,1.0,1051.434783,2.760870,65.434783,2.913043,2.434783,2.608696,...,2.891304,80.0,0.739130,14.152174,3.260870,2.847826,8.326087,4.217391,2.978261,4.195652
43,818.250000,11.406250,3.125000,1.0,998.812500,2.687500,66.968750,2.687500,2.437500,3.156250,...,2.656250,80.0,0.843750,13.343750,2.781250,2.906250,8.281250,5.156250,2.156250,4.906250
44,856.848485,9.030303,3.181818,1.0,1132.757576,2.454545,63.575758,2.939394,2.242424,2.818182,...,3.151515,80.0,0.727273,13.696970,2.848485,2.848485,8.272727,4.090909,3.060606,4.969697
45,844.975610,11.097561,2.975610,1.0,1008.512195,2.585366,68.195122,2.585366,2.487805,2.634146,...,2.609756,80.0,0.926829,13.926829,2.634146,2.975610,9.365854,5.097561,2.536585,4.975610
46,802.242424,6.545455,2.878788,1.0,1021.939394,2.848485,64.969697,2.818182,3.181818,2.454545,...,2.939394,80.0,0.878788,19.060606,2.818182,2.787879,8.939394,5.969697,2.696970,5.151515
47,852.875000,9.125000,3.125000,1.0,1229.291667,2.666667,70.500000,2.958333,2.708333,2.916667,...,2.750000,80.0,0.916667,16.958333,2.500000,2.625000,10.041667,5.458333,3.875000,5.083333
48,816.263158,8.105263,3.157895,1.0,1168.421053,2.894737,72.578947,2.789474,2.736842,2.842105,...,2.631579,80.0,0.736842,18.526316,2.631579,2.631579,6.421053,4.421053,3.000000,3.684211
49,886.541667,10.083333,2.958333,1.0,1142.041667,2.750000,62.375000,2.583333,2.958333,2.333333,...,2.541667,80.0,0.791667,19.416667,2.416667,2.875000,8.416667,4.958333,1.291667,4.625000
50,879.100000,9.833333,3.166667,1.0,883.166667,2.800000,70.533333,2.733333,3.366667,2.700000,...,2.966667,80.0,0.866667,21.966667,2.700000,2.766667,10.800000,3.900000,3.533333,4.733333
51,953.789474,7.684211,3.263158,1.0,692.368421,2.421053,67.105263,2.526316,2.789474,2.789474,...,2.842105,80.0,0.631579,17.947368,3.000000,2.473684,10.052632,5.052632,3.315789,5.421053
52,796.666667,9.111111,3.222222,1.0,865.722222,2.944444,62.833333,2.555556,3.000000,2.888889,...,2.444444,80.0,0.555556,21.055556,2.944444,2.555556,12.444444,6.277778,3.833333,5.500000
53,856.684211,7.631579,3.052632,1.0,918.157895,2.684211,57.789474,2.947368,3.421053,2.947368,...,3.052632,80.0,0.842105,24.263158,2.894737,2.736842,9.736842,5.421053,3.473684,5.210526
54,727.666667,10.277778,3.500000,1.0,1032.666667,3.000000,64.611111,3.000000,3.000000,2.777778,...,2.611111,80.0,0.777778,20.555556,3.333333,2.555556,7.333333,4.277778,2.333333,4.611111
55,646.227273,8.909091,3.000000,1.0,1042.772727,2.818182,64.454545,2.818182,3.590909,2.636364,...,3.136364,80.0,0.909091,25.090909,2.636364,3.045455,11.909091,5.590909,3.090909,4.954545
56,904.428571,9.428571,3.214286,1.0,1151.571429,2.928571,77.285714,2.857143,2.500000,2.285714,...,2.571429,80.0,1.000000,20.500000,2.428571,2.642857,6.857143,5.285714,3.714286,3.785714
57,385.500000,13.750000,2.750000,1.0,689.000000,2.500000,80.000000,3.250000,2.750000,3.500000,...,2.250000,80.0,0.750000,18.000000,2.250000,2.000000,5.250000,3.500000,1.000000,3.500000
58,690.500000,8.785714,3.357143,1.0,1020.142857,3.142857,60.142857,2.571429,2.928571,2.642857,...,3.285714,80.0,0.714286,23.357143,2.285714,2.500000,11.571429,4.857143,3.857143,4.285714
59,992.300000,6.400000,2.800000,1.0,556.900000,2.500000,64.100000,2.600000,2.500000,3.200000,...,3.000000,80.0,0.600000,18.600000,3.200000,2.300000,5.800000,3.800000,2.100000,3.200000
60,833.200000,11.800000,3.600000,1.0,956.800000,2.000000,69.800000,2.600000,3.000000,2.200000,...,3.400000,80.0,0.400000,19.200000,3.200000,3.000000,12.200000,6.000000,5.400000,6.400000

### Step7. Check if it has null values , then show sum of them

In [17]:
data.isnull()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

### Step 8. What is the mean of Hourly Rate?

In [20]:
data['HourlyRate'].mean()

65.89115646258503

### Step 9. What is max&min age of employees?

In [21]:
data['Age'].max()

60

In [22]:
data['Age'].min()

18

### Step 10. What is the most frequent level of Education that  employees have?

In [23]:
data['Education'].mode()

0    3
dtype: int64

### Step 11. What is median of total working years ?

In [25]:
data['TotalWorkingYears'].median()

10.0

### Step 12. Sort values by YearsatCompany in ascending order.

In [27]:
data.sort_values('YearsAtCompany', ascending = True)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1311,18,No,Non-Travel,1431,Research & Development,14,3,Medical,1,1839,...,3,80,0,0,4,1,0,0,0,0
1371,56,No,Travel_Rarely,1443,Sales,11,5,Marketing,1,1935,...,3,80,1,6,3,3,0,0,0,0
460,26,No,Travel_Rarely,775,Sales,29,2,Medical,1,618,...,1,80,2,8,5,3,0,0,0,0
1068,28,Yes,Travel_Frequently,289,Research & Development,2,2,Medical,1,1504,...,3,80,0,8,2,2,0,0,0,0
457,18,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,...,4,80,0,0,3,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,52,No,Travel_Rarely,621,Sales,3,4,Marketing,1,776,...,1,80,0,34,3,4,34,6,1,16
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,165,...,4,80,1,40,3,2,40,10,15,6

### Step 13. What is difference between max and min age of employees?

In [28]:
data['Age'].max()-data['Age'].min()

42

### Step 14. What is Standard deviation of the Age of Employees?

In [29]:
data['Age'].std()

9.135373489136734

### Step 15. Get a statistical summary of the data set. 
### Give Interpretation for it

### I selected the column which named as DailyRate
### In this column the mean is 802.4857142857143
### The mode is 0 and 691
### The median is 802.0
### The standart deviation of this column is 403.50909994352827

### Step 16.Summarize only the DistanceFromHome.

In [32]:
data['DistanceFromHome'].describe()

count    1470.000000
mean        9.192517
std         8.106864
min         1.000000
25%         2.000000
50%         7.000000
75%        14.000000
max        29.000000
Name: DistanceFromHome, dtype: float64

### Step17.Check its info

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

### Step 18.What is the most frequent level of education that employees have?

In [33]:
data['Education'].mode()

0    3
dtype: int64

### Step19.Display our dataframe in which Education which are more than 3.00

In [34]:
data[data['Education'] > 3.00]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4